/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.bt{
	 -fx-content-display: top;
}

.paper{
	-fx-graphic: url(/rockPaperScissors/rockPaperScissors/media/paper.png);
	-fx-content-display:top;
	-fx-graphic-fitHeight:50;
}
.scissor{
	-fx-graphic: url(/rockPaperScissors/rockPaperScissors/media/scissor.png);
}