/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
  -fx-background-image: url('/rockPaperScissors/rockPaperScissors/media/background.jpg');
  -fx-background-position: center center; 
  -fx-background-repeat: stretch;
  -fx-background-size: 800.0 600.0;
}
.labelContent{
	-fx-font-family:"Times New Roman";
	-fx-font-weight:bolder;
	-fx-font-size:25.0 pt;
	-fx-text-alignment:center;
}